
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/var/cache
/var
/var/
/config/secrets/prod/prod.decrypt.private.php
/env
/.env
/var.*
./docker-compose.yml
###< symfony/framework-bundle ###
