<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Calendrier</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="./css/styles.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

</head>

<body>
  <div id="app" class="container" data-app>
    <div id="app">
      <v-app id="inspire">
        <v-row class="fill-height">
          <v-col>
            <v-sheet height="64">
              <v-toolbar flat>
                <v-btn outlined class="mr-4" color="grey darken-2" @click="setToday">
                  Aujourd'hui
                </v-btn>
                <v-btn fab text small color="grey darken-2" @click="prev">
                  <v-icon small>
                    mdi-chevron-left
                  </v-icon>
                </v-btn>
                <v-btn fab text small color="grey darken-2" @click="next">
                  <v-icon small>
                    mdi-chevron-right
                  </v-icon>
                </v-btn>
                <v-toolbar-title v-if="$refs.calendar">
                  {{ $refs.calendar.title }}
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-menu bottom right>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn outlined color="grey darken-2" v-bind="attrs" v-on="on">
                      <span>{{ typeToLabel[type] }}</span>
                      <v-icon right>
                        mdi-menu-down
                      </v-icon>
                    </v-btn>
                  </template>
                  <v-list>
                    <v-list-item @click="type = 'day'">
                      <v-list-item-title>Jours</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="type = 'week'">
                      <v-list-item-title>Semaine</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="type = 'month'">
                      <v-list-item-title>Mois</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="type = '4day'">
                      <v-list-item-title>4 Jours</v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
              </v-toolbar>
            </v-sheet>
            <v-sheet height="600">
              <v-calendar ref="calendar" v-model="focus" color="primary" :events="events" :event-color="getEventColor"
                :type="type" @click:event="showEvent" @click:more="viewDay" @click:date="viewDay" @change="updateRange">
              </v-calendar>
              <v-menu v-model="selectedOpen" :close-on-content-click="false" :activator="selectedElement" offset-x>
                <v-card color="grey lighten-4" min-width="350px" flat>
                  <v-toolbar :color="selectedEvent.color" dark>
                    <v-toolbar-title v-html="selectedEvent.name"></v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-btn icon  @click="clickLike()">
                      <v-icon :style="selectedEvent.styleLiked">mdi-heart</v-icon>
                    </v-btn>
                  </v-toolbar>
                  <v-card-text>
                    <span v-html="selectedEvent.details"></span>
                    <div v-if="!professeurCourant">
                      <table class="table table-bordered">
                        <caption>Détails {{selectedEvent.type}}</caption>
                        <tbody id="tableauDetail">
                          <tr>
                            <td>Cours</td>
                            <td>{{ selectedEvent.titre }}</td>
                          </tr>
                          <tr>
                            <td>Date</td>
                            <td>{{ selectedEvent.date }}</td>
                          </tr>
                          <tr>
                            <td>Durée</td>
                            <td>{{ selectedEvent.durée }}</td>
                          </tr>
                          <tr>
                            <td>Enseignant</td>
                            <td>{{ selectedEvent.professeur?.nom }} {{ selectedEvent.professeur?.prenom }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div v-if="professeurCourant">
                      <h2>Laisser un Commentaire à {{professeurCourant.prenom}} {{professeurCourant.nom}}</h2>
                      <form class="mn-5" v-on:submit.prevent="postAvis()">
                        <ul class="text-danger">
                          <li v-for="error in errors">{{error}}</li>
                        </ul>
                        <div class="form-group">
                          <label>Note</label>
                          <select class="form-control" v-model="nouvelleAvis.note">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label>Commentaire</label>
                          <textarea class="form-control" required v-model="nouvelleAvis.commentaire"></textarea>
                        </div>
                        <div class="form-group">
                          <label>Adresse email de l'étudiant</label>
                          <input type="email" class="form-control" required v-model="nouvelleAvis.emailEtudiant">
                        </div>
                        <div class="form-group mt-1">
                          <input type="submit" class="btn btn-primary" value="Ajouter un Avis">
                        </div>
                      </form>
                    </div>
                  </v-card-text>
                  <v-card-actions>
                    <v-btn text color="secondary" :disabled="professeurCourant"
                      v-on:click="selectProfesseur(selectedEvent.professeur)">
                      Noter le professeur
                    </v-btn>
                    <v-btn text color="secondary" @click="selectedOpen = false, professeurCourant = null">
                      Cancel
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-menu>
            </v-sheet>
          </v-col>
        </v-row>
      </v-app>
    </div>
  </div>

  <script src="https://unpkg.com/axios"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

  <script>


    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data() {
        return {
          mesLikes: [],
          nouvelleAvis: {},
          errors: [],
          nouvelleAvis: {},
          professeurCourant: null,
          focus: '',
          type: 'month',
          typeToLabel: {
            month: 'Mois',
            week: 'Semaine',
            day: 'Jours',
            '4day': '4 Jours',
          },
          apiBase: 'http://localhost:8800/api',
          selectedEvent: {},
          selectedElement: null,
          selectedOpen: false,
          events: [],
          colors: ['blue', 'indigo', 'deep-purple', 'cyan', 'green', 'orange', 'grey darken-1'],
        }
      },
      mounted() {
        this.$refs.calendar.checkChange();


      },
      created() {
        //localStorage.clear();
        this.getOldLikes();
      },
      methods: {
        viewDay({ date }) {
          this.focus = date
          this.type = 'day'
        },
        getEventColor(event) {
          return event.color
        },
        setToday() {
          this.focus = ''
        },
        prev() {
          this.$refs.calendar.prev()
        },
        next() {
          this.$refs.calendar.next()
        },
        showEvent({ nativeEvent, event }) {
          this.professeurCourant = null;
          this.nouvelleAvis = {};
          this.errors = [];
          const open = () => {
            this.selectedEvent = event;
            this.selectedElement = nativeEvent.target;

            requestAnimationFrame(() => requestAnimationFrame(() => this.selectedOpen = true))
          }
          if (this.selectedOpen) {
            this.selectedOpen = false
            requestAnimationFrame(() => requestAnimationFrame(() => open()))
          } else {
            open()
          }
          nativeEvent.stopPropagation()
        },
        updateRange({ start, end }) {
          this.events = []
          const min = new Date(start.date)
          const max = new Date(end.date)
          axios.get(this.apiBase + '/cours/' + min.getFullYear() + '/' + (min.getMonth() + 1) + '/' + min.getDate() + '/' + max.getFullYear() + '/' + (max.getMonth() + 1) + '/' + max.getDate())
            .then(response => {
              response.data.forEach((value, index) => {
                this.events.push({
                  name: this.makeCourName(value),
                  start: value.dateHeureDebut.date.slice(0, 16),
                  end: value.dateHeureFin.date.slice(0, 16),
                  color: this.makeCourColor(value.type),
                  timed: true,
                  professeur: value.professeur,
                  matiere: value.matiere,
                  salle: value.salle,
                  titre: value.matiere.titre,
                  durée: Math.ceil(Math.abs(new Date(value.dateHeureFin.date) - new Date(value.dateHeureDebut.date)) / (1000 * 60 * 60)),
                  type: value.type,
                  date: value.dateHeureFin.date.slice(0, 10),
                  id: value.id,
                  liked: this.checkLiked(value.id),
                  styleLiked: (this.checkLiked(value.id)) ? "color:rgb(255, 133, 190); ":"color:rgb(255, 255, 255); ",
                })
              })
            })
            .catch(error => {
              console.log(error)
            })
            
        },
        makeCourName(cours) {
          return (
            cours.type +
            " " +
            cours.matiere.titre +
            " - Salle : " +
            cours.salle.numero +
            " - " +
            cours.professeur.prenom +
            " " +
            cours.professeur.nom
          );
        },
        makeCourColor(type) {
          switch (type) {
            case 'Cours':
              return this.colors[0];
              break;
            case 'TD':
              return this.colors[4];
              break;
            case 'TP':
              return this.colors[5];
              break;
            default:
              return this.colors[6];
          }

        },
        selectProfesseur(professeur) {
          this.professeurCourant = professeur;
        },
        postAvis() {
          this.errors = []
          axios.post(this.apiBase + '/professeurs/' + this.professeurCourant.id + '/avis', this.nouvelleAvis).then(response => {
            alert('Votre commentaire à été ajouté')
            this.removeAvis()
          }).catch(error => {
            this.errors = Object.values(error.response.data)
            console.log(Object.values(error.response.data)[0])
          })


        },
        removeAvis: function () {
          this.nouvelleAvis = { note: 0, commentaire: '', emailEtudiant: '' }
        },
        clickLike: function () {
          if(this.selectedEvent.liked){
            //liked == true (déjà liked donc à délike) retirer un like
            this.mesLikes.splice(this.mesLikes.indexOf({id: this.selectedEvent.id}), 1);
            this.selectedEvent.liked = false;
            this.selectedEvent.styleLiked = "color:rgb(255, 255, 255); ";
            this.events.forEach((value) => {
              if (value.id == this.selectedEvent.id) {
                value.liked = false;
                value.styleLiked = "color:rgb(255, 255, 255); ";
              }
            })
            localStorage['mesLikes'] = JSON.stringify(this.mesLikes);
          } else {
            //liked == false (pas encore liked) ajouter un like
            this.mesLikes.push({
              id: this.selectedEvent.id
            });
            this.selectedEvent.liked = true;
            this.selectedEvent.styleLiked = "color:rgb(255, 133, 190); ";
            
            this.events.forEach((value) => {
              if (value.id == this.selectedEvent.id) {
                value.liked = true;
                this.selectedEvent.styleLiked = "color:rgb(255, 133, 190); ";
              }
            })
            localStorage['mesLikes'] = JSON.stringify(this.mesLikes);
          }

        },
        getOldLikes() {
          var stored = localStorage.getItem('mesLikes');
          if (stored) {
            this.mesLikes = JSON.parse(stored);
          }
        },
        checkLiked: function(id) {
          var liked = false;
          this.mesLikes.forEach((value) => {
            if(value.id == id ){
              liked = true
            }
          })
          return liked;
        },
      },
    });
  </script>
</body>

</html>